.jumbotron {
  background-color: #cccccc;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.card-header {
  background-color: #367c7c;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #367c7c;
}

.bg-dark {
  background-color: #2e3838 !important;
}
html {
  scroll-behavior: smooth;
}